/* Drop Grid */

.dropgrid {
  background-color: black;
  padding: 0 1em;
}

.dropgrid__grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 20vh);
  gap: 1em;
  padding: 10% 0;
}

.dropgrid__filled {
  max-height: 100%;
  background-image: radial-gradient(
    ellipse,
    rgba(255, 255, 255, 0.25),
    black 75%
  );
  box-shadow: inset 0 0 5vmin 5vmin black;
}

.dropgrid__child {
  border: 0.5em solid black;
  box-shadow: inset 0 0 0 0.25em white;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: translateX(-250%);
  opacity: 0;
  transition: opacity ease-in 250ms 250ms, transform ease-in 750ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.dropgrid__child {
  z-index: 10;
}

.dropgrid__filled:focus .dropgrid__child,
.dropgrid__filled:hover .dropgrid__child {
  transform: translate(0);
  opacity: 1;
}

.dropgrid__title {
  color: white;
  z-index: -2;
}

.dropgrid__filled::before {
  content: "";
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  opacity: 0;
  transition: opacity 1000ms ease;
  filter: sepia(40%);
  pointer-events: none;
}

.dropgrid__filled:focus::before,
.dropgrid__filled:hover::before {
  opacity: 1;
}

.dropgrid--1::before {
  background-image: url(https://source.unsplash.com/800x1200/?people);
}

.dropgrid--2::before {
  background-image: url(https://source.unsplash.com/800x1200/?woods);
}

.dropgrid--3::before {
  background-image: url(https://source.unsplash.com/800x1200/?city);
}

.dropgrid--4::before {
  background-image: url(https://source.unsplash.com/800x1200/?ocean);
}

@media screen and (min-width: 800px) {
  .dropgrid__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .dropgrid__child {
    transform: translate(0, -250%);
  }

  .dropgrid__filled {
    max-height: unset;
    grid-row: 2/3;
  }

  /* 1920x1200 */
  .dropgrid--1::before {
    background-image: url(https://source.unsplash.com/1920x1200/?people);
  }

  .dropgrid--2::before {
    background-image: url(https://source.unsplash.com/1920x1200/?woods);
  }

  .dropgrid--3::before {
    background-image: url(https://source.unsplash.com/1920x1200/?city);
  }

  .dropgrid--4::before {
    background-image: url(https://source.unsplash.com/1920x1200/?ocean);
  }
}

@media screen and (min-width: 1920px) {
  /* 3840x2160 */
  .dropgrid--1::before {
    background-image: url(https://source.unsplash.com/3840x2160/?people);
  }

  .dropgrid--2::before {
    background-image: url(https://source.unsplash.com/3840x2160/?woods);
  }

  .dropgrid--3::before {
    background-image: url(https://source.unsplash.com/3840x2160/?city);
  }

  .dropgrid--4::before {
    background-image: url(https://source.unsplash.com/3840x2160/?ocean);
  }
}
