/* Snake */
.snake {
  background: linear-gradient(185deg, black, #1a323d, #e2cf8f);
}

.snake__body {
  --snake-clr: hsl(128, 38%, 59%);
  --snake-glow-clr: hsl(128, 52%, 78%);
  position: absolute;
  top: calc(50%-10rem);
  left: 50%;
  border-radius: 50%;
}

.snake__referense {
  transform: translateY(5rem);
  position: absolute;
  border-radius: 50%;
}

.snake__body::before {
  content: "";
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  width: 1em;
  height: 1em;
  background: var(--snake-glow-clr);
  box-sizing: content-box;
  transform: translateY(-5rem);
  box-shadow: 0 0 1em var(--snake-glow-clr), 0 0 0.5em var(--snake-clr);
}

.snake__body::after {
  content: "";
  position: absolute;
  top: 0em;
  left: 0em;
  box-shadow: 0 0 2em 0.5em var(--snake-glow-clr),
    0 0 1em 0.5em var(--snake-clr);
  box-sizing: content-box;
  transform: translateY(-5rem);
}

/* Keyframes */

@keyframes snake-glow {
  from {
    transform: translateY(-5rem) scale(0.5);
  }
  to {
    transform: translateY(-5rem) scale(1);
  }
}

@keyframes snake-move {
  0% {
    transform: translateY(5rem) rotate(0deg);
  }
  49.999% {
    transform: translateY(5rem) rotate(0deg);
  }
  50% {
    transform: translateY(-5rem) rotate(180deg);
  }
  99.999% {
    transform: translateY(-5rem) rotate(180deg);
  }
  100% {
    transform: translateY(5rem) rotate(0deg);
  }
}

@keyframes snake-rotate {
  to {
    transform: rotate(360deg);
  }
}

/* Snake parts */

.snake__body0::after {
  animation: snake-glow 500ms infinite alternate linear;
}
.snake__body0 {
  --snake-clr: hsl(0, 38%, 59%);
  --snake-glow-clr: hsl(0, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 0s;
}
.snake__referense0 {
  animation: snake-move 10s infinite linear 0s;
}

.snake__body1::after {
  animation: snake-glow 500ms infinite alternate linear;
}
.snake__body1 {
  --snake-clr: hsl(36, 38%, 59%);
  --snake-glow-clr: hsl(36, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 1s;
}
.snake__referense1 {
  animation: snake-move 10s infinite linear 1s;
}

.snake__body2::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body2 {
  --snake-clr: hsl(72, 38%, 59%);
  --snake-glow-clr: hsl(72, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 2s;
}
.snake__referense2 {
  animation: snake-move 10s infinite linear 2s;
}

.snake__body3::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body3 {
  --snake-clr: hsl(108, 38%, 59%);
  --snake-glow-clr: hsl(108, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 3s;
}
.snake__referense3 {
  animation: snake-move 10s infinite linear 3s;
}

.snake__body4::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body4 {
  --snake-clr: hsl(144, 38%, 59%);
  --snake-glow-clr: hsl(144, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 4s;
}
.snake__referense4 {
  animation: snake-move 10s infinite linear 4s;
}

.snake__body5::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body5 {
  --snake-clr: hsl(180, 38%, 59%);
  --snake-glow-clr: hsl(180, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 5s;
}
.snake__referense5 {
  animation: snake-move 10s infinite linear 5s;
}

.snake__body6::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body6 {
  --snake-clr: hsl(216, 38%, 59%);
  --snake-glow-clr: hsl(216, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 6s;
}
.snake__referense6 {
  animation: snake-move 10s infinite linear 6s;
}

.snake__body7::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body7 {
  --snake-clr: hsl(252, 38%, 59%);
  --snake-glow-clr: hsl(252, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 7s;
}
.snake__referense7 {
  animation: snake-move 10s infinite linear 7s;
}

.snake__body8::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body8 {
  --snake-clr: hsl(288, 38%, 59%);
  --snake-glow-clr: hsl(288, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 8s;
}
.snake__referense8 {
  animation: snake-move 10s infinite linear 8s;
}

.snake__body9::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body9 {
  --snake-clr: hsl(324, 38%, 59%);
  --snake-glow-clr: hsl(324, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 9s;
}
.snake__referense9 {
  animation: snake-move 10s infinite linear 9s;
}

.snake__body10::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body10 {
  --snake-clr: hsl(18, 38%, 59%);
  --snake-glow-clr: hsl(18, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 0.5s;
}
.snake__referense10 {
  animation: snake-move 10s infinite linear 0.5s;
}

.snake__body11::after {
  animation: snake-glow 500ms infinite linear alternate;
}
.snake__body11 {
  --snake-clr: hsl(54, 38%, 59%);
  --snake-glow-clr: hsl(54, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 1.5s;
}
.snake__referense11 {
  animation: snake-move 10s infinite linear 1.5s;
}

.snake__body12::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body12 {
  --snake-clr: hsl(90, 38%, 59%);
  --snake-glow-clr: hsl(90, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 2.5s;
}
.snake__referense12 {
  animation: snake-move 10s infinite linear 2.5s;
}

.snake__body13::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body13 {
  --snake-clr: hsl(126, 38%, 59%);
  --snake-glow-clr: hsl(126, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 3.5s;
}
.snake__referense13 {
  animation: snake-move 10s infinite linear 3.5s;
}

.snake__body14::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body14 {
  --snake-clr: hsl(162, 38%, 59%);
  --snake-glow-clr: hsl(162, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 4.5s;
}
.snake__referense14 {
  animation: snake-move 10s infinite linear 4.5s;
}

.snake__body15::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body15 {
  --snake-clr: hsl(198, 38%, 59%);
  --snake-glow-clr: hsl(198, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 5.5s;
}
.snake__referense15 {
  animation: snake-move 10s infinite linear 5.5s;
}

.snake__body16::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body16 {
  --snake-clr: hsl(234, 38%, 59%);
  --snake-glow-clr: hsl(234, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 6.5s;
}
.snake__referense16 {
  animation: snake-move 10s infinite linear 6.5s;
}

.snake__body17::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body17 {
  --snake-clr: hsl(270, 38%, 59%);
  --snake-glow-clr: hsl(270, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 7.5s;
}
.snake__referense17 {
  animation: snake-move 10s infinite linear 7.5s;
}

.snake__body18::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body18 {
  --snake-clr: hsl(306, 38%, 59%);
  --snake-glow-clr: hsl(306, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 8.5s;
}
.snake__referense18 {
  animation: snake-move 10s infinite linear 8.5s;
}

.snake__body19::after {
  animation: snake-glow 500ms infinite alternate linear 150ms;
}
.snake__body19 {
  --snake-clr: hsl(342, 38%, 59%);
  --snake-glow-clr: hsl(342, 52%, 78%);
  animation: snake-rotate 5s alternate infinite linear 9.5s;
}
.snake__referense19 {
  animation: snake-move 10s infinite linear 9.5s;
}
